# ==========================================
# CONFIGURACIÓN DEL SERVIDOR EXPRESS
# ==========================================
PORT=3000

# Clave de seguridad para las peticiones (Autenticación API Key)
API_KEY=tu_clave_secreta_super_segura_aqui


