# ==========================================
# CONFIGURACIÓN DEL SERVIDOR EXPRESS
# ==========================================
PORT=3001
LOCAL_BRANCH_NAME="Boca de Rio"

# Clave de seguridad para las peticiones (Autenticación API Key)
API_KEY=tu_clave_secreta_super_segura_aqui

# ==========================================
# JWT - Autenticación de usuarios
# ==========================================
JWT_SECRET=tu_jwt_secret_super_seguro_aqui
JWT_EXPIRES_IN=8h

# ==========================================
# BASE DE DATOS MASTER (MasterProfitPro)
# ==========================================
#MASTER_SERVER=100.96.172.40
#MASTER_DATABASE=MasterProfitPro
#MASTER_USER=profit
#MASTER_PASSWORD=profit

# ==========================================
# PREFERENCIAS DE INVENTARIO PARA API
# ==========================================
#DEFAULT_ALMACEN=01
#DEFAULT_PRECIO=01
LOCAL_PG_URL=postgresql://postgres:password@localhost:5432/sync2k
