# ==========================================
# CONFIGURACIÓN DEL SERVIDOR EXPRESS
# ==========================================
PORT=3000

# Clave de seguridad para las peticiones (Autenticación API Key)
API_KEY=tu_clave_secreta_super_segura_aqui


# ==========================================
# CONFIGURACIÓN DE BASE DE DATOS PROFIT PLUS
# ==========================================
# Servidor SQL (Puede llevar instancia y/o puerto, ej: localhost,1433 o localhost\SQLPROFIT)
DB_SERVER=localhost
DB_USER=sa
DB_PASSWORD=tu_password_de_sql
DB_NAME=NOMBRE_DE_TU_BASE_DE_DATOS_AQUI

# Parámetros adicionales
# DB_ENCRYPT en local por lo general es false.
DB_ENCRYPT=false
